<style>
#wrapper { margin-left: auto; margin-right: auto; width:80%; background-color: #F0F0F0;}
body { background-color: #FFFFFF; color: #0000FF; font-family: Arial, Verdana, sans-serif;}
header { background-color: #003366; color: #AEC3E3; font-family: Georgia, "Times New Roman", serif;}
h1 { line-height: 200%; text-indent: 1cm;}
nav {font-weight: bold;}
dt { color: #5280C5; font-family: Georgia, "Times New Roman", serif; font-size: 1em; font-weight: bold;}
.category {font-weight: bold; color: #5380C5; font-family: Georgia, "Times New Roman", serif;} 
footer {font-size: .70em; font-style: italic}
</style>